div.centro {
    width:500px;
    height:75px;
    background-color: blue; 
}
div.topo {
    margin-left: 100px;
    width: 75px;
    height:150px ;
    background-color: blue;
}
div.chao{
    margin-left: 100px;
    width: 75px;
    height:150px ;
    background-color: blue;
    
}
div.japan{
    width:100px;
    height: 100px;
    border-radius:50%;
    background-color: red;
    margin:100px 200px ;
}
div.libano{
    width: 500px;
    height: 75px;
    background-color: red;
}
div.libanocentro{
    width: 500px;
    height: 150px;
    
}
div.img{
    width: 200px;
    height: 150px;
    background-size: 200px 150px;
    background-image: url("../img/libano.jpg");
    background-repeat: no-repeat;
    margin: auto;
}
div.germanitopo{
    width: 500px;
    height: 100px;
    background-color: black;
}
div.germanicentro{
    width: 500px;
    height: 100px;
    background-color: red;
}
div.germanichao{
    width: 500px;
    height: 100px;
    background-color: yellow;
}
div.greciaazul{
    width: 500px;
    height: 33.33px;
    background-color: rgb(11, 11, 179);
}
div.greciabranco{
    width: 500px;
    height: 33.33px;
    background-color: rgb(242, 242, 247);
}
div.greciaazult{
    width: 300px;
    height: 33.33px;
    margin-left: 200px;
    display: flex;
    background-color: rgb(11, 11, 179);
}
div.greciabrancot{
    width: 300px;
    height: 33.33px;
    margin-left: 200px;
    display: flex;

    background-color: rgb(242, 242, 247);
}
div.greciablocoazul{
    width: 90px;
    height:66.66px ;
    background-color: rgb(11, 11, 179);
}
div.greciablocobranco{
    width:33.33px ;
    height:66.66px ;
    background-color: rgb(242, 242, 247); 
}
div.greciafaixabranca{
    width:200px ;
    height:33.33px ;
    
    background-color: rgb(242, 242, 247); 
}
div.greece{
    width: 200px;
    height: 66.66px;
    display: flex;
    background-color: blue;
}