.finland {
    width: 500px;
    height: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}

.japanbk {
    width: 500px;
    height: 300px;
    margin-top: 50;
    box-sizing: border-box;
    border-width: 0.5px;
    border-style: solid;
    
}
.germanibk{
    width: 500px;
    height: 300x;
    margin: 50px auto;
    box-sizing: border-box;
}
.libanobk{
    width: 500px;
    height: 300px;
    margin: 50px auto;
    box-sizing: border-box;
}