.logo{
    width: 100px;
    margin: -10px;
}
.main-banner {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../img/im2.jpg") no-repeat center / cover;
    color: #fff;
}


