
.separacao{
    padding-top: 85px;
}

.fundo{
background: -moz-linear-gradient(top,  rgba(23,115,119,1) 0%, rgba(23,115,119,0.57) 43%, rgba(125,185,232,0.02) 98%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(23,115,119,1) 0%,rgba(23,115,119,0.57) 43%,rgba(125,185,232,0.02) 98%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(23,115,119,1) 0%,rgba(23,115,119,0.57) 43%,rgba(125,185,232,0.02) 98%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.card-estilo{
    border-radius:15px;
}
.card-text{
    
        font-style: oblique;
       
}
