.logo {
  width: 50vmin;
  margin-top: 30px;
  margin-left: 20px;
  pointer-events: none;
}
.flash{
  width: 100%;
  display:inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top:0;
  opacity: 0;
}
.fade-in{
  animation: fadein 1s linear forwards; 
}
.fade-out{
  animation: fadeout 1s linear forwards;
}
@keyframes fadein{from {opacity: 0;} to {opacity: 1;visibility: visible;}}
@keyframes fadeout{from {opacity: 1;} to {opacity: 0;visibility: hidden;}}


.invisivel{
  display: none;
}
.verde{
  background-color: #39b54a;
}
.amarelo{
  background-color: yellow;
}
.vermelho{
  background-color: red;
}

.containerHome{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #612F74;
}

span{
  font-size: 25px;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 16px;
  color: rgb(0, 0, 0);
  background: #ddd;
  cursor: pointer;
  margin: 10px 10px;
  text-decoration: none;
  width: 174px;
}
.button:hover {
  text-decoration: none;
  transition: background 0.2s ease-in-out 0s;
  background: rgb(25, 25, 26);
  color: #fff;
}

.button-right {
  float: right;
  clear: both;
}

.button-big {
  padding: 25px 40px;
  font-size: 24px;
  line-height: 24px;
}

.button-blue {
  color: #fff;
  background: #007aff;
}

.button-blue:hover {
  background: #2d92ff;
}
.button-roxo{
  display: inline-block;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  width: 174px;
  cursor: pointer;
  margin: 10px 10px;
  text-decoration: none;
  color:#fff;
  background: #612F74;
}
.button-roxo:hover{
  background: rgb(116, 82, 129);
}

.button-green {
  color: #fff;
  background: #39b54a;
}
.button-red {
  color: #fff;
  background: #eb1919;
}
.button-red:hover {
  background: #f18787;
}
.button-green:hover {
  background: #6cfd7f;
}

.button-outline {
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card{
  width: 400px;
  height: 300px;
  border-radius: 8px;
  background: rgb(189, 187, 187);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
  width: 350px;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  border:none;
  border-bottom: 1px solid #666;
  padding-left: 10px;
}
.inputCard{
  width: 280px;
  height: 50px;
  margin-top: 10px;
  font-size: 20px;
  border:none;
  border-radius: 8px;
  padding-left: 10px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Box */

.box {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 8px;
  background: #efefef;
  text-align: center;
}

.box div {
  width: 120px;
  height: 120px;
  padding: 30px 0;
  margin: 0 auto;
  border: 5px solid #fff;
  background: #efefef;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
  min-width: 100vw;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #612F74;
}

/* Usar SEMPRE no pai de elementos que flutuam */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
.espaco{
 margin-top: 30px;
}
.info{
  text-align: left;
  margin-bottom: 20px;
}
.central{
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
aside{
  width: 320px;
  height: 450px;
  background: rgb(189, 187, 187);
  border-radius:2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  display: block;
  position: fixed;
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 640px) {
  .col-md-1 {
      width: 8.3333333333%;
  }
  
  .col-md-2 {
      width: 16.6666666667%;
  }
  
  .col-md-3 {
      width: 25%;
  }
  
  .col-md-4 {
      width: 33.3333333333%;
  }
  
  .col-md-5 {
      width: 41.6666666667%;
  }
  
  .col-md-6 {
      width: 50%;
  }
  
  .col-md-7 {
      width: 58.3333333333%;
  }
  
  .col-md-8 {
      width: 66.6666666667%;
  }
  
  .col-md-9 {
      width: 75%;
  }
  
  .col-md-10 {
      width: 83.3333333333%;
  }
  
  .col-md-11 {
      width: 91.6666666667%;
  }
  
  .col-md-12 {
      width: 100%;
  }
} 
.h2{
  font-size: 30px;
  color: rgb(39, 38, 38);
}
.h1{
  font-size: 40px;
  color: rgb(39, 38, 38);
}
.linkGrande{
  text-decoration: none;
  font-size: 25px;
  color: rgb(2, 2, 2);
}