.map {
    display: block;
    border: none;
    box-sizing: border-box;
    padding-top: 10px;
}
.map iframe{
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
    border: 0;
}
.btn-right{
    float:right;
    margin-top: 10px;
}