.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.flash{
  width: 100%;
  display:inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top:0;
  opacity: 0;
}
.fade-in{
  animation: fadein 1s linear forwards; 
}
.fade-out{
  animation: fadeout 1s linear forwards;
}
@keyframes fadein{from {opacity: 0;} to {opacity: 1;visibility: visible;}}
@keyframes fadeout{from {opacity: 1;} to {opacity: 0;visibility: hidden;}}

.invisivel{
  display: none;
}
.verde{
  background-color: #39b54a;
}
.amarelo{
  background-color: yellow;
}
.vermelho{
  background-color: red;
}
.input{
  width: 236px;
  height: 42px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  text-align: right;
}
.button {
  display: inline-block;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  color: #222;
  background: #ddd;
  cursor: pointer;
  margin: 10px 10px;
  text-decoration: none;
}
span{
  font-size: 25px;
  font-weight: bold;
}
.button:hover {
  text-decoration: none;
  transition: background 0.2s ease-in-out 0s;
}

.button-right {
  float: right;
  clear: both;
}

.button-big {
  padding: 25px 40px;
  font-size: 24px;
  line-height: 24px;
}

.button-blue {
  color: #fff;
  background: #007aff;
}

.button-blue:hover {
  background: #2d92ff;
}

.button-green {
  color: #fff;
  background: #39b54a;
}
.button-red {
  color: #fff;
  background: #eb1919;
}
.button-red:hover {
  background: #f18787;
}
.button-green:hover {
  background: #6cfd7f;
}

.button-outline {
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
