/* Contact */

.contact {
    position: relative;
}

.field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

.map-container {
    width: 50vw;
    position: absolute;
    top: 50px;
    bottom: 130px;
    right: 0;
    z-index: 1;
}

.map {
    display: block;
    border: none;
    box-sizing: border-box;
    padding-top: 10px;
}
.map iframe{
    height: 100vh;
    width: 100%;
    margin-bottom: -40px;
    padding: 0;
    border: 0;

}