/* Work */

.work {
    padding-top: 30px;
}


/* Reset */
/* Green DBC: #39b54a */
/* Blue DBC: #007aff */

nav ul,
body {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Header */

body {
    padding-top: 50px;
}

.main-header {
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo {
    display: block;
    width: 115px;
    padding-top: 5px;
    float: left;
}

.logo img {
    width: 100%;
}

.main-header ul {
    float: right;
}

.main-header li {
    float: left;
}

@media (max-width: 640px) {
    .main-header ul,
    .main-header li {
        float: none;
        clear: both;
    }
}

.main-header ul a {
    display: block;
    padding: 15px;
}

#mobile-menu,
.mobile-menu {
    display: none;
}

@media (max-width: 640px) {
    .main-header ul {
        display: none;
    }

    .mobile-menu {
        display: block;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin: 3px 0 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        float: right;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu span {
        display: block;
        height: 3px;
        margin: 4px 0;
        border-radius: 4px;
        background: #999;
    }

    #mobile-menu:checked + ul {
        display: block;
    }
}
/* Grid */

.container {
    max-width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Usar SEMPRE no pai de elementos que flutuam */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box;
}

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.6666666667%;
}

.col-12 {
    width: 100%;
}

@media (min-width: 640px) {
    .col-md-1 {
        width: 8.3333333333%;
    }
    
    .col-md-2 {
        width: 16.6666666667%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4 {
        width: 33.3333333333%;
    }
    
    .col-md-5 {
        width: 41.6666666667%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.3333333333%;
    }
    
    .col-md-8 {
        width: 66.6666666667%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.3333333333%;
    }
    
    .col-md-11 {
        width: 91.6666666667%;
    }
    
    .col-md-12 {
        width: 100%;
    }
} 
/* General */

section:not(.main-banner) {
    min-height: calc(100vh - 50px - 130px - 40px);
}
/* Footer */

.main-footer {
    padding: 20px 0;
    margin-top: 40px;
    background: #efefef;
    text-align: center;
}

.main-footer li,
.main-footer a {
    display: inline-block;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}

@media (max-width: 480px) {
    .main-footer {
        font-size: 12px;
    }

    .main-footer a {
        padding: 8px 10px;
    }
    
    .main-footer p {
        margin-top: 15px;
    }
}
/* Contact */

.contact {
    position: relative;
}

.field {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}

/* Este é o mobile */
.map-container {
    width: 100%;
}

@media (max-width: 619px) {
    .map-container {
        height: 70vh;
        margin-top: 30px;
    }
}

/* Este é o desktop */
@media (min-width: 620px) {
    .map-container {
        width: 50vw;
        position: absolute;
        top: 50px;
        bottom: 130px;
        right: 0;
        z-index: 1;
    }
}

.map {
    display: block;
    width: 100%;
    height: 553.53px;
    border: none;
}
/* Buttons */

.button {
    display: inline-block;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 16px;
    color: #222;
    background: #ddd;
    cursor: pointer;
}

@media (max-width: 639px) {
    .button {
        padding: 10px;
        font-size: 12px;
        line-height: 12px;
    }
}

.button:hover {
    text-decoration: none;
    transition: background 0.2s ease-in-out 0s;
}

.button-right {
    float: right;
    clear: both;
}

.button-big {
    padding: 25px 40px;
    font-size: 24px;
    line-height: 24px;
}

@media (max-width: 639px) {
    .button-big {
        padding: 15px 30px;
        font-size: 16px;
        line-height: 16px;
    }
}

.button-blue {
    color: #fff;
    background: #007aff;
}

.button-blue:hover {
    background: #2d92ff;
}

.button-green {
    color: #fff;
    background: #39b54a;
}

.button-green:hover {
    background: #6cfd7f;
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}
/* Box */

.box {
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: #efefef;
    text-align: center;
}

.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    background: #efefef;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Banner */

.main-banner {
    display: table;
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background: url("../img/Creative.jpg") no-repeat center / cover;
    color: #fff;
}

.main-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    background: -moz-linear-gradient(-45deg,  #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-banner article {
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px;
}

.main-banner p {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 639px) {
    .main-banner h1 {
        margin: 0 0 15px;
        font-size: 30px;
        line-height: 35px;
    }

    .main-banner p {
        max-width: 800px;
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 16px;
    }
}
/* About us */

.about-us .row {
    margin-bottom: 30px;
}

.about-us img {
    width: 150px;
    margin: 0 15px 15px 0;
    float: left;
}

.about-us .row:nth-child(2n) img {
    margin: 0 0 15px 15px;
    float: right;
}
.h1{
    font-size: 19px;
}
.h2{
    font-size: 24px;
}
.h3{
    font-size: 19px;
    text-align:left;
}
.texto{
    font-size: 16px;
}
.textoG{
    font-size: 22px;
}
.centro{
    text-align: center;
}